<header class="header d-flex justify-content-between align-items-center header-padding-y">
  <div class="header-first d-flex align-items-center">
    <span class="small c2-a cursor-pointer">Chat with us</span>
    <span class="small c1-a cursor-pointer header-padding-x">+420 336 775 664</span>
    <span class="small c1-a">info@freshnesecom.com</span>
  </div>
  <div class="header-second d-flex align-items-center">
    <span class="small c2-a cursor-pointer text-capitalize">
      blog</span>
    <span class="small c2-a cursor-pointer text-capitalize header-padding-x">
      about us</span>
    <span class="small c2-a cursor-pointer text-capitalize">careers</span>
  </div>
</header>
