<header class="sub-header d-flex justify-content-between align-items-center">
  <div class="sub-header-title">
    <img class="img-fit sub-header-image" src="assets/images/sub-header-title.png" alt="title">
  </div>

  <div class="sub-header-search d-flex align-items-center justify-content-between">
    <select class="form-select sub-header-select bold cursor-pointer">
      <option selected>All categories</option>
      <option *ngFor="let category of categories$ | async; let i = index" value="i+1">
        {{ category }}</option>
    </select>
    <input class="sub-header-search-input" type="search" placeholder="Search Products, categories ...">
    <img class="img-fit" src="assets/images/search-icon.svg" alt="search icon">
  </div>

  <div class="sub-header-icons d-flex align-items-center">
    <img class="img-fit px-4" src="assets/images/user.svg" alt="user icon">
    <img class="img-fit" src="assets/images/cart.svg" alt="cart icon">
  </div>
</header>
