@import "../../../../assets/styling/variables/colors";

.sub-header {
  padding-top: 48px;
  padding-bottom: 48px;

  &-search {
    background-color: $C1-H;
    border: 1px solid $C1-D;
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    width: 500px;

    &-input {
      background-color: $C1-H;
      width: 250px;
      border-left: 1px solid $C1-D;
      padding-left: 22px;
    }
  }

  &-select {
    background-color: $C1-H;
    border: none;
    width: auto;
    background-image: url('../../../../assets/images/arrow-down.svg');
    font-size: 1.05em;

    &:focus {
      box-shadow: none;
    }
  }
}
